html {
  background-image: url(https://i.imgur.com/Lqi0jN2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  overflow: auto;
  min-width: 700px;
}

body {
  font-family: "Fira Mono", Monospace;
  display: flex;
  margin: 0;
  vertical-align: middle;
  align-items: center;
  flex-flow: column;
  text-align: center;
  overflow-x: hidden;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.4);
  font-size: 18px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

#lol-logo {
  width: 300px;
  margin: 35px 0 40px;
}

#contact {
  color: #29a3cc;
  font-weight: bold;
}
#contact:hover {
  text-decoration: underline;
  cursor: pointer;
}

#audiobutton {
  position: absolute;
  bottom: 20px;
  right: 40px;
  font-size: 40px;
  z-index: 10;
  padding: 15px;
  width: 1.2em;
  border: 2px solid white;
  background-color: black;
}
#audiobutton:hover {
  cursor: pointer;
}

#catjam {
  position: absolute;
  display: none;
  bottom: 115px;
  right: 40px;
  font-size: 40px;
  width: calc(1.2em + 30px);
  padding: 0;
  z-index: 10;
}

.section {
  width: 80%;
  border: 4px ridge red;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.guide {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.reasons {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.b {
  margin-bottom: 0;
}

div {
  padding: 15px;
}

.question {
  font-size: 30px;
}

.footer {
  padding-bottom: 0;
}