:root {
  --terminal-background: #3A3A3A;
  --terminal-text: #EFEFAE;
  --terminal-inputline: #262626;
  --style-highlighttext:0;
  --stlye-highlightbackground:0;
  --color-pink: #d787af;
  --color-cream: #ffd7af;
  --color-lightblue: #75d1d1;
  --color-purple: #6441a5;
  --color-blue: #1DA1F2;
  --color-darkblue: #005f87;
  --color-gold: #ffe419;
  --color-orange: #dd6f48;
  --color-white: #ffffff;
  --color-black: #00000000;
  --color-yellow: #ffd500;
  --color-pink: #d787af;
  --color-green: #86d400;
  --color-cyan: #00ffff;
  --color-red: #c40000;
  --color-important: #E3A786;
  --color-logo: #ffe419;
  --background-image: url(https://i.imgur.com/ZMGL5nP.jpg);
}

html {
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

header {
  background: linear-gradient(to bottom, #e6e6e6 0%, #a3a3a3 100%);
  color: black;
  font-family: "Helvetica", sans-serif;
  display: block;
  font-size: 0.9em;
  height: 1.3em;
  user-select: none;
  overflow: hidden;
}
header ul {
  margin: 1px 5px;
  padding: 0 3px;
  overflow: hidden;
}
header li {
  display: inline-block;
  line-height: 1.3em;
  padding: 0 0.5em;
  position: relative;
  margin: 0px;
  padding: 0px;
  cursor: default;
}
header .left {
  float: left;
}
header .left li {
  padding-left: 12px;
}
header .right {
  float: right;
}
header .right li {
  padding-left: 6px;
}
header a {
  color: inherit;
}
header a:hover {
  color: darkblue;
}

body {
  height: 100%;
  width: 100%;
  color: var(--terminal-text);
  font-family: "Fira Mono", Monospace;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
body .window a {
  color: inherit;
}
body .window a:hover {
  color: #FFFFAE;
  background-color: #005F5F;
}
body .window-button, body .handle .buttons .third, body .handle .buttons .second, body .handle .buttons .first {
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
}
body .window {
  background-color: var(--terminal-background);
  border-radius: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  top: -10%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
body .window .terminal {
  display: flex;
  flex-flow: column;
}
body .window .window-content {
  border: 2px solid #a3a3a3;
  border-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 40px;
  height: 600px;
  height: 70vh;
  overflow-y: auto;
  width: 100%;
}
body .handle {
  height: 22px;
  background: linear-gradient(to bottom, #e6e6e6 0%, #a3a3a3 100%);
  border-top: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  user-select: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 100%;
}
body .handle .buttons {
  position: absolute;
  float: left;
  padding: 4px 10px;
  margin: auto;
  display: flex;
}
body .handle .buttons .first {
  background-color: #ff6159;
  margin-right: 5px;
}
body .handle .buttons .second {
  background-color: #ffbf2f;
  margin-right: 5px;
}
body .handle .buttons .third {
  background-color: #25cc3e;
  margin-right: 5px;
}
body .handle .popupbuttons {
  cursor: pointer;
}
body .handle .modelCloseBtn {
  color: black;
  font-size: auto;
  padding: 4px 10px;
  cursor: pointer;
  position: absolute;
}
body .handle .title {
  color: black;
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 100%;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-size: 17px;
}
body .handle .title span {
  vertical-align: middle;
}
body .handle .title img {
  max-height: 75%;
  margin-right: 5px;
  vertical-align: middle;
}
body .stream {
  margin-top: 8px;
}
body .line {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin: 0 4px;
  padding-top: 2px;
  width: calc(100% - 12px);
}
body .line p {
  display: inline-block;
  margin: 0;
  padding: 0;
}
body .line .name {
  max-width: 80px;
  min-width: 80px;
  text-align: right;
  padding-right: 6px;
}
body .inputline {
  background-color: var(--terminal-inputline);
  padding: 2px 4px 2px 4px;
  width: auto;
  margin: 0;
  margin-bottom: 8px;
}
body .inputline .inputbox {
  min-width: calc(100% - 200px);
  outline: none;
}
body .inputline .time {
  user-select: none;
  cursor: default;
}

#terminal {
  z-index: 2;
}

::selection {
  color: #FFFFAE;
  background: #005F5F;
}

::-webkit-scrollbar {
  background-color: var(--terminal-background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
}

::-webkit-scrollbar-corner {
  background-color: var(--terminal-background);
}

::-webkit-resizer {
  background-color: var(--terminal-background);
}

.video-popup-model {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  transition: all 0.5s ease;
  opacity: 0;
}
.video-popup-model.smooth_show {
  opacity: 1;
}
.video-popup-model .video-layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.video-popup-model .video-layer .video-model-close-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.video-popup-model .video-layer .model-wrapper {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 800px) {
  .video-popup-model .video-layer .model-wrapper {
    max-width: 65%;
  }
}
.video-popup-model .video-layer .model-wrapper .videomodel {
  height: auto;
  background-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #a3a3a3;
  border-top: 0px;
  position: relative;
}
.video-popup-model .video-layer .model-wrapper .videomodel .videoscreen {
  overflow: hidden;
}
.video-popup-model .video-layer .model-wrapper .videomodel .videoscreen video,
.video-popup-model .video-layer .model-wrapper .videomodel .videoscreen iframe {
  width: 100%;
  object-fit: cover;
  height: auto;
  border: 0;
  outline: none;
  display: block;
}

#calc {
  display: none;
}
#calc .window {
  width: auto;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: none;
  top: 0;
}
#calc .window .handle {
  background: rgba(76, 76, 76, 0.4);
  border: 0;
}
#calc .window .handle .title {
  display: none;
}
#calc .window .window-content {
  border: 0;
  background: rgba(76, 76, 76, 0.4);
}
#calc .calculator-close-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#calc .calculator-wrapper {
  position: absolute;
  top: calc(1.3em - 2px);
  display: flex;
  left: 0;
  overflow: hidden;
  height: calc(100% - 1.3em);
  width: 100%;
  justify-content: center;
  align-items: center;
}
#calc .window-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#calc .calculator {
  width: calc(12em + 8px);
  font-size: 35px;
  font-size: 4vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#calc .calculator .display {
  width: 100%;
  color: #ffffff;
  padding: 0.5em;
  box-sizing: border-box;
}
#calc .calculator .display ::selection {
  background: #0000ff8e;
  color: #ffffff;
}
#calc .calculator .display .line {
  overflow: hidden;
}
#calc .calculator .display .result {
  font-size: 55px;
  font-size: 6vh;
  display: block;
  text-align: right;
  justify-content: right;
  margin-top: 0.25em;
}
#calc .calculator .display .input {
  display: block;
}
#calc .calculator .calc-input {
  display: flex;
  flex-wrap: wrap;
  background-color: #4c4c4c;
}
#calc .calculator button {
  border: 0;
  background: #d6d6d6;
  color: #000000;
  cursor: pointer;
  float: left;
  font: inherit;
  margin: 1px;
  width: 3em;
  height: 2.5em;
  outline: none;
}
#calc .calculator button:active {
  background: #a09fa0;
}
#calc .calculator .important, #calc .calculator .op {
  background-color: #f79231;
  color: #ffffff;
}
#calc .calculator .important:active, #calc .calculator .op:active {
  background: #b76620;
  color: #4c4c4c;
}
.macwrapper {
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 98;
  position: fixed;
}

.macerror {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-image: url(https://i.imgur.com/2uex9Hc.png);
  background-size: 150%;
  background-color: black;
  background-position: center;
  animation-name: blink;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}
.backgrounds {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.bg-wrapper {
  width: 25%;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  border: 0;
}
.bg-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-wrapper img {
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
  margin-bottom: 2px;
  margin-top: 15px;
  border-radius: 10px;
}

.terminal-wrapper {
  overflow: hidden;
  height: calc(100% - 1.3em);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  color: #000000;
  font-size: 50px;
  padding-top: 100px;
  overflow: hidden;
  z-index: 3;
  pointer-events: none;
}
footer a {
  display: flex;
}
footer .footer-wrapper {
  position: absolute;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}
footer .footer-wrapper .footer-bar {
  background: linear-gradient(to top, rgba(230, 230, 230, 0.8) 0%, rgba(163, 163, 163, 0.6) 100%);
  height: 100%;
  margin-top: 15px;
  transform: rotatex(45deg);
  width: calc(100% + 30px);
  position: absolute;
  border-top-left-radius: 4px;
  border-top-right-radius: 5px;
  top: 0px;
  z-index: -1;
}
footer .footer-wrapper ul {
  pointer-events: all;
  display: flex;
  list-style: none;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  max-width: 80%;
  height: 90%;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}
footer .footer-wrapper ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-wrapper ul span {
  position: absolute;
  display: none;
  top: -72px;
  font-size: 20px;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 10px;
  transition: 0.2s;
}
footer .footer-wrapper ul li:hover span {
  display: flex;
  top: -80px;
}
footer .footer-wrapper ul li:hover img {
  margin-bottom: 28px;
  transform: scale(1.2);
}
footer .footer-wrapper ul img {
  -webkit-box-reflect: below -5px -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(230, 230, 230, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  width: 60px;
  height: auto;
  height: auto;
  margin: 0 8px;
  margin-bottom: 20px;
  transform-origin: bottom center;
  transition: 0.2s;
  border-radius: 10px;
}