$text:#EFEFAE;
$highlighttext:#FFFFAE;
$black:#262626;
$darkgrey:#3A3A3A;
$grey:#bcbcbc;
$highlight:#00adb5;
$selftext:#83A598;

$cream:#ffd7af;
$lightblue:#87afaf;
$green:#afaf00;
$red:#d75f5f;
$textred:#E3A786;
$orange:#dd6f48;
$pink:#d787af;
$gold:#ffe419;
$yellow:#ffaf00;
$darkgreen:#878700;
$turquoise:#87af87;
$blue:#5f8787;
$darkblue:#005f87;
$purple:#875f87;
$lighterblue:#83a598;
$white: #ffffff;

$applegradient:linear-gradient(to bottom, rgba(230, 230, 230, 1) 0%, rgba(163, 163, 163, 1) 100%);
$windowradius: 5px;

:root {
   --terminal-background: #313F46;
   --terminal-text: #ffffff;
   --terminal-inputline: #23292C;

   --style-highlighttext:0;
   --stlye-highlightbackground:#00adb5;

   --color-pink: #d787af;
   --color-cream: #ffd7af;
   --color-lightblue: #75d1d1;
   --color-purple: #6441a5;
   --color-blue: #1DA1F2;
   --color-darkblue: #005f87;
   --color-gold: #ffe419;
   --color-orange: #dd6f48;
   --color-white: #ffffff;
   --color-black: #00000000;
   --color-yellow: #ffd500;
   --color-pink: #d787af;
   --color-green: #86d400;
   --color-cyan: #00ffff;
   --color-red: #c40000;
   --color-important: #B9585D;
   --color-logo: #60AA67;

   --background-image: url();
   --background-night-image: url();

}

@media screen {
  #ie {
     display: table-cell;
  }
}

html {
   background-image: var(--background-image);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100%;
}

#night-bg {
   opacity: 0;
   height: 100%;
   width: 100%;
   position: absolute;
   background-image: var(--background-night-image);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   z-index: -1;
}

 #ie {
   height: 100%;
   width: 100%;
   font-size: 80px;
   font-family: 'Helvetica', sans-serif;
   font-weight: bold;
   color: white;
   text-align: center;
   background-color: black;
   position: absolute;
   z-index: 999;
   display: none;
   span {
      display: table-cell;
      vertical-align: middle;
   }

   @media screen and (min-width:0\0) and (min-resolution: +72dpi) {
      display: table;
   }
 }

header {
   background: linear-gradient(to bottom, rgba(230, 230, 230, 1) 0%, rgba(163, 163, 163, 1) 100%);
   color: black;
   font-family: 'Helvetica', sans-serif;
   display: block;
   font-size: 0.9em;
   height: 1.3em;
   user-select: none;
   overflow: hidden;

   ul {
      margin: 1px 5px;
      padding: 0 3px;
      overflow: hidden;
   }

   li {
      display: inline-block;
      line-height: 1.3em;
      padding: 0 0.5em;
      position: relative;
      margin: 0px;
      padding: 0px;
      cursor: default;
   }

   .left {
      float: left;

      li {
         padding-left: 12px;
      }
   }

   .right {
      float: right;

       li {
          padding-left: 6px;
       }
   }

   a {
      color: inherit;

      &:hover {
         color: darkblue;
      }
   }
}

body {
   height: 100%;
   width: 100%;
   color: var(--terminal-text);
   font-family: 'Fira Mono', Monospace;
   margin:0;
   overflow-x:hidden;
   overflow-y: hidden;
   .window a {
      color:inherit;
      text-decoration: none;
      &:hover{
         text-decoration: underline;
         // color: var(--style-highlighttext);
         // background-color: var(--stlye-highlightbackground);
      }
   }

   .window-button {
      padding: 0;
      margin: 0;

      width: 12px;
      height: 12px;

      cursor: pointer;

      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 50%;

      display:inline-block;

      color: rgba(0, 0, 0, 0.5);
   }

   .window {
      top: -8.7%;
      width: 80%;
      height: 77%;
      display: none;
      flex-flow: column;
      z-index: 0;
      border-bottom: 2px solid rgba(163, 163, 163, 1);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      .terminal {
         display: flex;
         flex-flow: column;
      }

      .window-content {
         background-color: var(--terminal-background);
         border: 2px solid rgba(163, 163, 163, 1);
         border-top: 0px;

         padding-top: 8px;

         border-bottom: 0px;

         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;
         //min-height: 40px;
         flex-grow: 1;
         //height: 600px;
         //height: 70vh;
         overflow-y: auto;
         //width: 100%;
      }
   }

   .handle {
      height: 22px;
      min-height: 22px;
      background: linear-gradient(to bottom, rgba(230, 230, 230, 1) 0%, rgba(163, 163, 163, 1) 100%);

      border-top: 1px solid white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      user-select: none;

      overflow: hidden;
      display: flex;
      align-items: center;
      vertical-align: middle;
      width: 100%;


      .buttons {
         position: absolute;
         float: left;
         padding: 4px 10px;
         margin: auto;
         display: flex;

         .first {
            @extend .window-button;
            background-color: rgb(255, 97, 89);
            margin-right: 5px;
         }

         .second {
            @extend .window-button;
            background-color: rgb(255, 191, 47);
            margin-right: 5px;
         }

         .third {
            @extend .window-button;
            background-color: rgb(37, 204, 62);
            margin-right: 5px;
         }
      }

      .popupbuttons {
         cursor: pointer;
      }

      .modelCloseBtn {
         color: black;
         font-size: auto;
         padding: 4px 10px;
         cursor: pointer;
         position: absolute;
      }

      .title {
         color: black;
         text-align: center;
         margin: auto;
         margin-left: auto;
         margin-right: auto;
         height: 100%;
         max-width: 100%;
         align-items: center;
         font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
         font-size: 17px;

         span {
            vertical-align: middle;
         }

         img {
            max-height: 75%;
            margin-right: 5px;
            vertical-align: middle;
         }
      }
   }

   .stream {

       .customInput {
         background-color: var(--terminal-inputline);
         outline:none;
         overflow-wrap: break-word;
         margin: 0;
         margin-bottom: 10px;
         box-sizing: border-box;
         width: 100%;
         padding-left: 10px;
         display: inline-block;
         max-height: 1.5em;
         overflow: hidden;
       }
   }

   .line {
      margin:0;
      padding:0;
      display:flex;
      flex-direction:row;
      margin:0 4px;
      padding-top:2px;
      width:calc(100% - 12px);
      p {
         display:inline-block;
         margin:0;
         padding:0;
         overflow-x: hidden;
         overflow-wrap: break-word;
      }
      .name {
         max-width:80px;
         min-width:80px;
         text-align:right;
         padding-right:6px;
      }

      .time {
         overflow: visible;
      }
   }
   .inputline {
      background-color: var(--terminal-inputline);
      padding: 2px 4px 2px 4px;
      width: auto;
      //flex-grow: 1;
      .inputbox {
         min-width:calc(100% - 200px);
         outline:none;
         overflow-wrap: break-word;
      }
      margin: 0;
      margin-bottom: 8px;
      //padding-bottom: 6px;
      .time {
         user-select: none;
         cursor:default;
      }
   }
   

}

::selection {
   color:$highlighttext;
   background:$highlight;
}
::-webkit-scrollbar{background-color:transparent;width:10px;height:10px;}
::-webkit-scrollbar-thumb{background-color:$grey;}
::-webkit-scrollbar-corner{background-color:var(--terminal-background);}
::-webkit-resizer{background-color:var(--terminal-background);}

.video-popup-model {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 6;
   transition: all 0.5s ease;
   opacity: 0;

   &.smooth_show {
      opacity: 1;
   }

   .video-layer {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;

      animation: fade;
      animation-duration: 2s;

      @keyframes fade {
         from {background-color: rgba(0, 0, 0, 0);}
         to {background-color: rgba(0, 0, 0, 0.8);}
      }

      .video-model-close-layer {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
      }

      .model-wrapper {
         width: 100%;
         height: auto;

         @media screen and (min-width: 800px) {
            max-width: 65%;
         }

         .videomodel {
            
            height: auto;
            background-color: black;
            border-bottom-left-radius: $windowradius;
            border-bottom-right-radius: $windowradius;
            border: 2px solid rgba(163, 163, 163, 1);
            border-top: 0px;
            position: relative;

            .videoscreen {
               overflow: hidden;
               video,
               iframe {
                  width: 100%;
                  object-fit: cover;
                  height: auto;
                  border: 0;
                  outline: none;
                  display: block;
               }


            }
         }
      }
   }
}

.calc-row {
   display: flex;
   width: 392px;
   height: auto;
}

.calc-input {
   display: flex;
   flex-wrap: wrap;
   flex-flow: column;
   font-size: 32px;
}

#calc {

   .window {
      width: auto;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      background: none;
      top: 0;
      display: none;
      height: auto;

      .handle {
         background: rgb(76, 76, 76, 0.4);
         border: 0;
         .title {
            display: none;
         }
      }
      .window-content {
         border: 0;
         background: rgb(76, 76, 76, 0.4);
      }
   }

   #calc-content {
      display: flex;
      overflow: none;
   }

   .calculator-wrapper {
      position: absolute;
      top: calc(1.3em - 2px);
      display: flex;
      left: 0;
      overflow: hidden;
      height: calc(100% - 19px);
      width: 100%;
      justify-content: center;
      align-items: center;
   }

   .window-content {
      display: flex;
      justify-content: center;
   }

   .calculator {
      font-size: 35px;
      font-size: 4vh;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      
      .display {
         width: 392px;
         overflow-x: hidden;
         color: #ffffff;
         padding: 0.5em;
         box-sizing: border-box;

         ::selection {
            background: #0000ff8e;
            color: #ffffff;
         }

         .line {
            overflow: hidden;
         }

         .result {
            font-size: 55px;
            font-size: 6vh;
            display: block;
            text-align: right;
            justify-content: right;
            margin-top: 0.25em;
         }
         .input {
            display: block;
         }
      }

      button {
         border: 0;
         background: #d6d6d6;
         color: #000000;
         cursor: pointer;
         float: left;
         font: inherit;
         margin: 1px;
         width: 3em;
         height: 2.5em;
         outline:none;

         &:active {
            background: #a09fa0;
         }
      }
      .important {
         background-color: #f79231;
         color: #ffffff;
         &:active {
            background: #b76620;
            color: #4c4c4c;
         }
      }
      .op {
         @extend .important;
      }
   }


}


.macwrapper {
   height: 100%;
   width: 100%;
   background-color: black;
   z-index: 98;
   position: fixed;
}

.open-calculator:hover {
   cursor: pointer;
}

.open-mail:hover {
   cursor: pointer;
}

.open-terminal:hover {
   cursor: pointer;
}

.macerror {
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 99;
   background-image: url(https://i.imgur.com/2uex9Hc.png);
   background-size: 150%;
   background-color: black;
   background-position: center;

   animation-name: blink;
   animation-duration: 0.25s;
   animation-iteration-count: infinite;
}

 @keyframes blink {
    0% {
       opacity: 100%;
    }

    50% {
       opacity: 10%;
    }

    100% {
       opacity: 100%;
    }
 }

 .backgrounds {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
 }

 .bg-wrapper {
    width: 25%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    font-size: 18px;
    margin: 0;
    border: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;

    &:hover {
       background-color: rgb(255, 255, 255, 0.3);
    }

    img {
       width: 80%;
       display: block;
       margin-bottom: 2px;
       margin-top: 15px;
       margin-left: 10%;
       margin-right: 10%;
       border-radius: 10px;
    }
    span {
       white-space: nowrap;
    }
 }

.window-wrapper {
   overflow: hidden;
   height: calc(100% - 19px);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
}

#terminal {
   min-width: 780px;

}

input {
   line-height: 1.15;
   height: 100%;
   margin: 0;
   font-size: inherit;
   font-weight: normal;
   background-color: transparent;
   border-style: none;
   --webkit-appearance: none;
   -moz-appearance: none;
   color: #ffffff;
   width: 100%;
   padding: 16px;
   box-sizing: border-box;
   font-family: IBM Plex Mono,sans-serif;
   font-style: normal;
}

input:focus {
   outline: none;
}

textarea {
   line-height: 1.15;
   margin: 0;
   font-size: inherit;
   font-weight: normal;
   background-color: transparent;
   border-style: none;
   --webkit-appearance: none;
   -moz-appearance: none;
   color: #ffffff;
   width: 100%;
   padding: 16px;
   box-sizing: border-box;
   resize: none;
   font-family: IBM Plex Mono,sans-serif;
   font-style: normal;
}

textarea:focus {
   outline: none;
}

#mail-header {
   display: flex;
   flex-flow: column;
   input {
      width: 100%;
      padding: 16px;
   }
   border-bottom: #000000 solid 2px;
}

#mail-body {
   display: flex;
   flex-flow: column;
   padding-top: 16px;
   flex-grow: 1;
   span {
      padding-left: 16px;
   }
   textarea {
      flex-grow: 1;
      margin-bottom: 16px;
   }
}

#mail-window {
   font-size: 17px;
   font-family: IBM Plex Mono,sans-serif;
   font-weight: bold;
   border-bottom: #000000 solid 2px;
   width: 80%;
   min-width: 400px;
   top: -40px;
   left: 30px;

   .window-content {
      background-color: #191919;
      color: #a09ea4;
      display: flex;
      flex-flow: column;
      border: #000000 solid 2px;
      border-bottom: none;
      padding-bottom: 16px;
   }

   .handle {
      background-color: #191919;
      background: #191919;
      border: #000000 solid 2px;
      border-bottom: none;
      box-sizing: border-box;
      padding-top: 4px;
      padding-bottom: 4px;
      height: auto;

      .title {
         font-weight: normal;
         color: white;
      }
   }

   button {
      line-height: 1.15;
      margin-left: 32px;
      margin-right: 32px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      padding: 0.5em;
      background: transparent;
      color: rgb(160, 158, 164);
      border: #000000 solid 2px;
      border-radius: 10px;
   }
   button:hover, button:focus {
      background-color: #ffffff;
      color: black;
      border: none;
      cursor: pointer;
      outline: none;
   }
}

.row {
   display: flex;
   flex-flow: row;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding-left: 16px;
   padding-right: 16px;
   box-sizing: border-box;
}


footer {
   position: absolute;
   width: 100%;
   height: 80px;
   bottom: 0;
   color: #000000;
   font-size: 50px;
   padding-top: 100px;
   overflow: hidden;
   z-index: 3;
   pointer-events: none;
   user-select: none;

   li:focus {
      outline: none;
   }

   a:focus {
      outline: none;
   }

   a {
      display: flex;
   }

   .footer-wrapper {
      position: absolute;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;

      .footer-bar {
         background: linear-gradient(to top, rgba(230, 230, 230, 0.8) 0%, rgba(163, 163, 163, 0.6) 100%);
         height: 100%;
         margin-top: 15px;
         transform: rotatex(45deg);
         width: calc(100% + 30px);
         position: absolute;
         border-top-left-radius: 4px;
         border-top-right-radius: 5px;
         top: 0px;
         z-index: -1;
      }
      ul {
         pointer-events: all;
         display: flex;
         list-style: none;
         position: absolute;
         bottom: 0;
         padding: 0;
         margin: 0;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
         background-color: rgb(255, 255, 255, 0);
         max-width: 80%;
         height: 90%;
         justify-content: center;
         align-items: center;

         perspective: 1000px;

         li {
            display: flex;
            justify-content: center;
            align-items: center;
         }

         span {
         position: absolute;
         display: none;
         top: -72px;
         font-size: 20px;
         color: #ffffff;
         font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
         background-color: rgb(0, 0, 0, 0.7);
         padding: 5px;
         border-radius: 10px;
         transition: 0.2s;
      }

         li:hover span {
            display: flex;
            top: -80px;
         }

         li:hover img {
            margin-bottom: 28px;
            transform: scale(1.2);
         }


         img {
            -webkit-box-reflect: below -5px -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(230, 230, 230, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
            width: 60px;
            height: auto;
            height: auto;
            margin: 0 8px;
            margin-bottom: 20px;
            transform-origin: bottom center;
            transition: 0.2s;
            border-radius: 10px;
         }

   }
   }
}