$text:#EFEFAE;
$highlighttext:#FFFFAE;
$black:#262626;
$darkgrey:#3A3A3A;
$grey:#bcbcbc;
$highlight:#005F5F;
$selftext:#83A598;

$cream:#ffd7af;
$lightblue:#87afaf;
$green:#afaf00;
$red:#d75f5f;
$textred:#E3A786;
$orange:#dd6f48;
$pink:#d787af;
$gold:#ffe419;
$yellow:#ffaf00;
$darkgreen:#878700;
$turquoise:#87af87;
$blue:#5f8787;
$darkblue:#005f87;
$purple:#875f87;
$lighterblue:#83a598;
$white: #ffffff;

$applegradient:linear-gradient(to bottom, rgba(230, 230, 230, 1) 0%, rgba(163, 163, 163, 1) 100%);
$windowradius: 5px;

:root {
   --terminal-background: #3A3A3A;
   --terminal-text: #EFEFAE;
   --terminal-inputline: #262626;

   --style-highlighttext:0;
   --stlye-highlightbackground:0;

   --color-pink: #d787af;
   --color-cream: #ffd7af;
   --color-lightblue: #75d1d1;
   --color-purple: #6441a5;
   --color-blue: #1DA1F2;
   --color-darkblue: #005f87;
   --color-gold: #ffe419;
   --color-orange: #dd6f48;
   --color-white: #ffffff;
   --color-black: #00000000;
   --color-yellow: #ffd500;
   --color-pink: #d787af;
   --color-green: #86d400;
   --color-cyan: #00ffff;
   --color-red: #c40000;
   --color-important: #E3A786;
   --color-logo: #ffe419;

}

html {
   background-image: url(https://i.imgur.com/ZMGL5nP.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100%;
}

header {
   background: linear-gradient(to bottom, rgba(230, 230, 230, 1) 0%, rgba(163, 163, 163, 1) 100%);
   color: black;
   font-family: 'Helvetica', sans-serif;
   display: block;
   font-size: 0.9em;
   height: 1.3em;
   user-select: none;
   overflow: hidden;

   ul {
      margin: 1px 5px;
      padding: 0 3px;
      overflow: hidden;
   }

   li {
      display: inline-block;
      line-height: 1.3em;
      padding: 0 0.5em;
      position: relative;
      margin: 0px;
      padding: 0px;
      cursor: default;
   }

   .left {
      float: left;

      li {
         padding-left: 12px;
      }
   }

   .right {
      float: right;

       li {
          padding-left: 6px;
       }
   }

   a {
      color: inherit;

      &:hover {
         color: darkblue;
      }
   }
}

body {
   color: var(--terminal-text);
   font-family: 'Fira Mono', Monospace;
   margin:0;
   overflow-x:hidden;
   overflow-y: hidden;
   .window a {
      color:inherit;
      &:hover{
         color:$highlighttext;
         background-color:$highlight;
      }
   }

   .window-button {
      padding: 0;
      margin: 0;

      width: 12px;
      height: 12px;

      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 50%;

      display:inline-block;

      color: rgba(0, 0, 0, 0.5);
   }

   .window {
      margin: 30px;
      background-color: var(--terminal-background);
      border-radius: 5px;

      .terminal {
         display: flex;
         flex-flow: column;
         overflow-y: auto;
         height: 600px;
         border: 2px solid rgba(163, 163, 163, 1);
         border-top: 0px;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;
      }
   }

   .handle {
      height: 22px;
      background: linear-gradient(to bottom, rgba(230, 230, 230, 1) 0%, rgba(163, 163, 163, 1) 100%);

      border-top: 1px solid white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      user-select: none;

      font-family: 'Fira Mono', Monospace;

      .buttons {
         position: absolute;
         float: left;
         padding: 4px 10px;
         margin: auto;
         display: flex;

         .first {
            @extend .window-button;
            background-color: rgb(255, 97, 89);
            margin-right: 5px;
         }

         .second {
            @extend .window-button;
            background-color: rgb(255, 191, 47);
            margin-right: 5px;
         }

         .third {
            @extend .window-button;
            background-color: rgb(37, 204, 62);
            margin-right: 5px;
         }
      }

      .popupbuttons {
         cursor: pointer;
      }

      .modelCloseBtn {
         color: black;
         font-size: auto;
         padding: 4px 10px;
         cursor: pointer;
         position: absolute;
      }

      .title {
         color: black;
         text-align: center;
         margin: auto;
         display: block;
         margin-left: auto;
         margin-right: auto;
      }
   }

   .stream {
      margin-top:8px;
   }
   .line {
      margin:0;
      padding:0;
      display:flex;
      flex-direction:row;
      margin:0 4px;
      padding-top:2px;
      width:calc(100% - 12px);
      p {
         display:inline-block;
         margin:0;
         padding:0;
      }
      .name {
         max-width:80px;
         min-width:80px;
         text-align:right;
         padding-right:6px;
      }
   }
   .inputline {
      background-color: var(--terminal-inputline);
      padding: 2px 4px 2px 4px;
      width: auto;
      //flex-grow: 1;
      .inputbox {
         min-width:calc(100% - 200px);
         outline:none;
      }
      margin: 0;
      margin-bottom: 8px;
      //padding-bottom: 6px;
      .time {
         user-select: none;
         cursor:default;
      }
   }
   

}

::selection {
   color:$highlighttext;
   background:$highlight;
}
::-webkit-scrollbar{background-color:var(--terminal-background);width:10px;height:10px;}
::-webkit-scrollbar-thumb{background-color:$grey;}
::-webkit-scrollbar-corner{background-color:var(--terminal-background);}
::-webkit-resizer{background-color:var(--terminal-background);}

.video-popup-model {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 2;
   transition: all 0.5s ease;
   opacity: 0;

   &.smooth_show {
      opacity: 1;
   }

   .video-layer {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;

      animation: fade;
      animation-duration: 2s;

      @keyframes fade {
         from {background-color: rgba(0, 0, 0, 0);}
         to {background-color: rgba(0, 0, 0, 0.8);}
      }

      .video-model-close-layer {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
      }

      .model-wrapper {
         width: 100%;
         height: auto;

         @media screen and (min-width: 800px) {
            max-width: 65%;
         }

         .videomodel {
            
            height: auto;
            background-color: black;
            border-bottom-left-radius: $windowradius;
            border-bottom-right-radius: $windowradius;
            border: 2px solid rgba(163, 163, 163, 1);
            border-top: 0px;
            position: relative;

            .videoscreen {
               overflow: hidden;
               video,
               iframe {
                  width: 100%;
                  object-fit: cover;
                  height: auto;
                  border: 0;
                  outline: none;
                  display: block;
               }


            }
         }
      }
   }
}

.macwrapper {
   height: 100%;
   width: 100%;
   background-color: black;
   z-index: 98;
   position: fixed;
}

.macerror {
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 99;
   background-image: url(https://i.imgur.com/2uex9Hc.png);
   background-size: 150%;
   background-color: black;
   background-position: center;

   animation-name: blink;
   animation-duration: 0.25s;
   animation-iteration-count: infinite;
}

 @keyframes blink {
    0% {
       opacity: 100%;
    }

    50% {
       opacity: 10%;
    }

    100% {
       opacity: 100%;
    }
 }